body {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238ed646' fill-opacity='0.56'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    font-family: "Oswald", sans-serif;
}

.logo {
  width: 200px;
  margin: 5px 5px;
  padding: 10px 10px;
}

h2 {
    text-align: center;
    text-shadow: 0 1px 0#fff;
    font-size: 32px;
    position: relative;
}

form {
  position: relative;
  height: 100%;
  width: 50%;
  padding-left: 20px;
  padding-top: 15px;
  background-color: rgb(179, 214, 95);
  border-radius: 20px;
  margin: auto;
}

input {
  width: 200px;
  height: 40px;
  font: 14px normal normal uppercase helvetica, arial, serif;
}

.resultado {
  text-shadow: 0 1px 0#fff;
  font-size: 26px;
}

p {
  text-shadow: 0 1px 0#fff;
  font-size: 28px;
  position: relative;
}

label {
  font-size: 20px;
  columns: #b3aba1;
  margin: 10px 10px 0 0;
  text-shadow: 10px 10px 0 pc #000000;
}

.button {
  position: relative;
  text-align: center;
}

button {
  position: relative;
  text-align: center;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 20px;
  border: 200px whitesmoke bold;
  font: 20px normal normal uppercase helvetica, arial, serif;
  color: whitesmoke;
  background-color: rgb(104, 156, 44);
}

button:hover {
  background: rgba(104, 156, 44, 0.7);
  cursor: pointer;
}

.social {
    margin: 50px;
}

.social >p {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 10px;
}

.links i {
    font-size: 3rem;
}

@media (max-width: 650px) {
  form {
    position: relative;
    height: 100%;
    width: 70%;
    padding-left: 10px;
    padding-top: 20px;
    background-color: rgb(179, 214, 95);
    border-radius: 20px;
    margin: auto;
  }

  p {
    text-shadow: 0 1px 0#fff;
    font-size: 24px;
    position: relative;
  }
}
